[Unit]
Description=Apply persisted ArkEPass USB gadget mode
After=local-fs.target sys-kernel-config.mount epass-firstboot-select.service epass-data-mount.service drm-arch-app.service
Requires=sys-kernel-config.mount
Before=sshd.service
ConditionKernelCommandLine=!epass.firstboot=1
ConditionKernelCommandLine=!epass.resize=1

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/epass-usb-mode

[Install]
WantedBy=multi-user.target
